{{>header}}
<div class="container">
    <div class="row">
        <!-- iterate over one card -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Pokemon name</h5>
                    <p class="card-text">Pokemon Type</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Property1</li>
                    <li class="list-group-item">Property2</li>
                    <li class="list-group-item">Property3</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Edit</a>
                    <a href="#" class="card-link">Delete</a>
                </div>
            </div>
        </div>
        <!-- end iteration -->
    </div>
</div>
{{>footer}}